body{ 
    background-color: lightblue;
    margin-inline:30px;
 }

.section{
    background-color: #f1efeb;
    border-left-width: 20px;
    border-right-width: 20px;
    height: 300px;
    width: auto;
    overflow: hidden;
    align-content: center;
}
#Title{
    font-size: 3rem;
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 20px;
    background-color: #d8e7dd;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#player1Banner{
    position: relative;
    float: left;
    height: 97%;
    width: 70px;
    border: 3px solid rgb(96, 144, 248);
    margin: 2px;
    writing-mode: vertical-lr;
    text-align: center;
    font-family: 'open sans', sans-serif;
    background-color: #5fbfd4;
}

#player1Banner23{
    position: relative;
    top: 43%;
    float: left;
    height: 15%;
    width: 70px;
    margin-left: 15px;
}
#player1{
    position: relative;
    float: left;
    top: 52%;
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

#player2{
    position: relative;
    float: right;
    top: 52%;
    height: 70px;
    width: 70px;
    margin-right: 50px;
}

#player2Banner{
    position: relative;
    float: right;
    height: 97%;
    width: 70px;
    border: 3px solid rgb(37, 194, 37);
    margin: 2px;
    writing-mode: vertical-lr;
    text-align: center;
    font-family: 'open sans', sans-serif;
    background-color: #74bccc;
}

#player2Banner24{
    position: relative;
    float: right;
    top: 43%;
    height: 70px;
    width: 70px;
    margin-right: 40px;
}

#ShootBtn {
    background-color:lightcoral ;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    border-radius: 50px;
}

.Score-Board{
      padding: 5px;
      display: grid;
      grid-template-columns: 35% 35% auto;
}

.grid-item{
      background-color: #c9ebf3;
      border: 1.5px solid rgb(182, 129, 129);
      padding: 10px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
}

.result{
      padding: 2px;
      display: grid;
      font-weight: bold;
}
  
.result-item{
      background-color: powderblue;
      margin-top: 20px;
      padding: 5px;
      font-size: 20px;
      text-align: center;
      position:relative;
      border: 1.5px solid rgb(182, 129, 129);
}

#resetBtn{
    background-color: rgb(107, 211, 107); 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px ;
}

#player1FireScore ,#player2FireScore{
    font-size: 50px;
    font-weight: bold;
}